<launch>
	<arg name="id"/>
	<node pkg="gitagent" type="agent_run.py" name="brain_node" output="log" launch-prefix="xterm -e">
		<param name="myID" value="$(arg id)" />
		<param name="myTheta" value="1.0" />
		<param name="myDelta" value="0.0" />
		<param name="pressure" value="0.05" />
		<param name="static" value="1|1" />
		<param name="memory" value="0" />
	</node>	<node pkg="gitagent" type="msg_PUnit.py" name="msg_punit" output="log" launch-prefix="xterm -e">
		<param name="myID" value="$(arg id)" />
	</node>
</launch>
